body {
    background-color: black;
    color: white
}
.special {
    color: rgb(0, 190, 149);
}
.sidebar {
  width: 50%;
  padding: 20px;
  border: solid rgb(0, 190, 149);
  border-width: 1px;
  margin-bottom: 10px;
  box-sizing: border-box;
  float: right;
  
}
.float {
  float: left;
}
