body {
    background-color: rgb(43, 41, 41);
    color: white
}
.welcome {
  
  float: right;
  margin: 15%;
  margin-top: 200px;
  width: 20%;
  padding: 10px;
  margin-bottom: 85px;

}
.special {
    color: rgb(0, 190, 149);
}
.sidebar {
  width: 50%;
  padding: 20px;
  margin-left: 5px;
  margin-top: 10%;
  border: solid rgb(0, 190, 149);
  border-width: 1px;
  margin-bottom: 10px;
  box-sizing: border-box;
  float: right;
}
.sidebar h2 {
  text-align: center;
}
.box {
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  padding: 10px;
  border: solid rgb(0, 190, 149);
  border-width: 1px;
  box-sizing: border-box;
  float: left;
}
.box h2 {
  text-align: center;
}
.image {
  float: left;
  margin-left: 6%; 
  margin-top: 10%;
  
  width: 20%;

  padding: 10px;
  margin-bottom: 10px;
}
.interests {
  width: 47%;
  padding: 20px;
  border: solid rgb(0, 190, 149);
  border-width: 1px; 
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  float: left;
}
.color {
  color: white;
}
