body {
    background-color: black;
    color: white
}
.welcome {
  float: right;
  margin: 15%;
  width: 20%;
  padding: 10px;
  margin-bottom: 100px;

}
.special {
    color: rgb(0, 190, 149);
}
.sidebar {
  width: 50%;
  padding: 20px;
  margin-left: 5px;
  border: solid rgb(0, 190, 149);
  border-width: 1px;
  margin-bottom: 10px;
  box-sizing: border-box;
  float: right;
  
}
.float {
  float: left;
  margin: 10%;
  width: 20%;
  padding: 10px;
  margin-bottom: 10px;
}
.box {
  width: 35%;
  padding: 20px;
  border: solid rgb(0, 190, 149);
  border-width: 1px;
  margin-bottom: 10px;
  box-sizing: border-box;
  float: left;
}